.container
  .row
    .col-xs-offset-2.col-xs-8
      %h2 Resend confirmation instructions
      = reform_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post} ) do |f|
        = devise_error_messages!

        = f.input :email, type: "email", autofocus: true, class: "form-control"
        = f.action "Resend confirmation instructions", class: "btn btn-primary"

        = render "devise/shared/links"

