.comment 
  .row
    .col-lg-1.col-xs-1.col-md-1.text-center
      = render "users/avatar", user: comment.user
    .col-lg-11.col-xs-11.col-md-11
      %strong
        = comment.user.full_name
        %span
          = comment.content
      %p
        %small= time_ago_in_words(comment.created_at, include_seconds: true)
        = "&#183;".html_safe
        %small
          - if current_user.likes? comment
            = link_to "Unlike", like_path(object: "comment", id: comment.id), method: :post
          - else
            = link_to "Like", like_path(object: "comment", id: comment.id), method: :post

          - if comment.likers(User).any?
            = "&#183;".html_safe
            %i.fa.fa-thumbs-o-up
              %span= comment.likers(User).count
