- if missions.any?
  %table.table.table-condensed.table-striped.table-hover.table-centered.table-bordered
    %thead
      %tr
        %th Title
        %th User
        %th Short Description
        %th Status
        %th Submitted At
        %th Rewards
        %th Actions
    %tbody
      - missions.each do |mission|
        %tr
          - quest = mission.quest
          %td= quest.title
          %td= mission.user.full_name
          %td= truncate(quest.description, length: 50)
          %td= mission.status
          - if mission.submitted_at.present?
            %td= mission.try(:submitted_at).strftime("%B %d, %Y, %H:%M:%S %p")
          - else
            %td
          %td= quest.display_rewards
          %td
            - if mission.status == "In Review" || mission.status == "Completed"
              = link_to quest_mission_path(quest, mission), data: { toggle: "modal", target: "#modal", placement: "top" }, role: "history-trigger", rel: "tooltip", title: "Show Images" do
                %i.fa.fa-picture-o
              - if mission.status == "In Review"
                %span= "|"
                = link_to accept_quest_mission_path(quest, mission), data: { toggle: "tooltip", placement: "top" }, title: "Accept Quest", method: :put do
                  %i.fa.fa-check-square
                %span= "|"
                = link_to reject_quest_mission_path(quest, mission), data: { toggle: "tooltip", placement: "top" }, title: "Reject Quest", method: :delete do
                  %i.fa.fa-remove

  - if defined?(@missions)
    .text-center
      = paginate missions

- else
  .alert.alert-success
    %i.fa.fa-info-circle
    We don't have any quests listed under this category.

