.row
  .col-lg-3.col-md-3.col-xs-3.sidebar
    = render "shared/sidebar"
  .col-lg-9.col-md-9.col-xs-9.central
    = render "shared/admin/subnav"
    .panel.panel-primary.admin
      .panel-heading Recent Completed Quests
      .panel-body
        = render "admin/missions/table", missions: @completed_missions

    .panel.panel-primary.admin
      .panel-heading Recent Submitted Quests
      .panel-body
        = render "admin/missions/table", missions: @in_review_missions

    .panel.panel-primary.admin
      .panel-heading Recent Accepted Quests
      .panel-body
        = render "admin/missions/table", missions: @accepted_missions

:javascript
  $(function(){
    RigPirate.Tooltip.init()
  })
