- keys = activity.key.split(".")

.row.activity
  .col-md-2.col-xs-2.col-lg-2.text-center
    = render "users/avatar", user: activity.owner
  .col-md-10.col-xs-10.col-lg-10
    .details
      %strong
        = link_to activity.owner do
          = activity.owner.full_name
      %span
        just
        = "#{keys[1]}".verb.conjugate tense: :past, aspect: :perfective
      %span
        = link_to keys[0].with_indefinite_article, activity.trackable

        - if activity.trackable.class == User
          - if current_user == activity.trackable
            with you.
          - else
            with 
            = activity.trackable.full_name

      - if activity.trackable.class == Post && keys[0] == "post"
        = render "posts/content", post: activity.trackable











