!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RigPirate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = filepicker_js_include_tag
    = csrf_meta_tags
  %body
    = render "shared/header"
    = render "shared/messages"
    .content
      = yield
    = render "shared/modal"

:javascript
  $(function(){
    RigPirate.Modals.close();
    RigPirate.Modals.watch();
  })
